* {
    box-sizing: border-box;
}

#sprite {
    background-color: black;
    position: absolute;
    z-index: 7;
}

#grid {
    display: flex;
    position: relative;
    border: 5px solid darkgreen;
}

#greenTile {
    background-color: green;
}

#lightGreenTile {
    background-color: lightgreen;
}