body {
    display: flex;
    justify-content: center;
}

#grid {
    display: flex;
    position: relative;
    width: fit-content;
    border: 5px solid darkgreen;
}

#sprite {
    background-color: black;
    position: absolute;
    z-index: 7;
}

.darkerTile {
    background-color: green;
}

.lighterTile {
    background-color: lightgreen;
}